<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <h1 th:text="${title}">Default Title</h1>
</head>

<body>
<h2> These are the all slots with status </h2>
<table style="border: 1px solid black">
    <thead>
    <tr style="border: 1px solid black">

        <td style="border: 1px solid black"><strong>ID</strong></td>
        <td style="border: 1px solid black"><strong>Name</strong></td>
        <td style="border: 1px solid black"><strong>Time</strong></td>
        <td style="border: 1px solid black"><strong>Status</strong></td>
    </tr>
    </thead>
    <tbody>

    <tr th:each="userAppointment : ${userAppointments}" th:if="${userAppointment.username != 'doctor'}">

        <td style="border: 1px solid black" ><span th:text="${userAppointment.appointmentid}"> ID </span></td>
        <td style="border: 1px solid black"><span th:text="${userAppointment.username}"> Name </span></td>
        <td style="border: 1px solid black"><span th:text="${userAppointment.appointtime}"> Time </span></td>

        <td style="border: 1px solid black" th:if="${userAppointment.status}">
            <span> Booked </span>
        </td>
        <td  style="border: 1px solid black" th:unless="${userAppointment.status}">
            <span> Available </span>
        </td>

    </tr>
    <tr th:each="userAppointment : ${userAppointments}" th:if="${userAppointment.username == 'doctor'}">

       <td style="border: 1px solid black" ><span th:text="${userAppointment.appointmentid}"> ID </span></td>
        <td align="center" style="border: 1px solid black">-</td>
        <td style="border: 1px solid black"><span th:text="${userAppointment.appointtime}"> Time </span></td>

       <td style="border: 1px solid black" th:if="${userAppointment.status}">
            <span> Booked </span>
        </td>
        <td  style="border: 1px solid black" th:unless="${userAppointment.status}">
            <span> Available </span>
        </td>

    </tr>
    </tbody>
</table>

<div class="container-fluid">

    <button onclick="window.location.href='/appointments/createappointment'" class="button">Create new Appointments</button>

</div>


<footer class="container-fluid text-center">
    <p>This page shows the available appointment time slots to Doctor</p>
</footer>
</body>
</html>