<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments :: head">

    <h1 th:text="${title}">My Clinic</h1>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">XYZ Clinic</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
              </li>
            <!--<li><a href="#">My Profile</a></li>-->
            <!--<li><a href="#">Medications</a></li>-->
            <!--<li><a href="#">Schedule Appointments</a></li>-->
            <!--<li><a href="#">Equiry Chat</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <div sec:authorize='isAuthenticated()' class="panel-heading">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </div>
        </ul>
    </div>
</nav>


<!--Button Groups-->
<div id="pricing" class="container-fluid">
    <div class="text-center">
        <pre>  </pre>
        <h2> <div sec:authentication="name" /> <div>Dashboard </div> </h2>
        Welcome:

        Authenticated user roles:
        <div sec:authentication="principal.authorities"></div>
    </div>
    <div class="row slideanim">
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user logo-small"></span>
                </div>
                <div sec:authorize="hasRole('ROLE_MYPROFILE')" class="panel-footer">
                    <button class="btn btn-lg" onclick="window.location.href='/user/myprofile'" >My Profile</button>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-xs-12" sec:authorize="hasRole('ROLE_SCHEDULE_APPOINTMENT')">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-calendar logo-small"></span>
                </div>

                <div class="panel-footer">
                    <button class="btn btn-lg" onclick="window.location.href='/appointments/schedule'">Schedule Appointment</button>
                </div>
            </div>
        </div>

        <!--<div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-scale logo-small"></span>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-lg" onclick="window.location.href='/Doctor/previousAppointment'">Previous Appointment</button>
                </div>
            </div>
        </div>-->

        <div class="col-sm-4 col-xs-12" sec:authorize="hasRole('ROLE_VIEWALL_APPOINTMENTS')">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-folder-open logo-small"></span>
                </div>
                <div class="panel-footer" >
                    <button class="btn btn-lg" onclick="window.location.href='/appointments/getAllAvailableSlots'">View All Available Slots</button>
                </div>
            </div>
        </div>

       <!-- <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-grain logo-small"></span>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-lg" onclick="window.location.href='/Doctor/medication'">Patient's Medication</button>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-send logo-small"></span>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-lg" onclick="window.location.href='/Doctor/inquire'">Answer Inquire</button>
                </div>
            </div>
        </div>-->
    </div>
</div>




</body>
</html>